name: base_app
description: A new Flutter project.

publish_to: "none"

version: 1.0.0+1

environment:
  sdk: ">=2.16.2 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  flutter_localizations:
    sdk: flutter

  base_style_sheet:
    path: ../base_style_sheet
  core:
    path: ../core
  base_auth:
    path: ../base_auth

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^1.0.0
  triple_test: ^1.0.0
  modular_test: ^2.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/mocks/
